.header {
    grid-area: header;
}

.main {
    grid-area: main;

    display: grid;
    justify-items: center;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding-right: 24px;

    button {
        border-radius: 0;
        border: 2px solid transparent;
        padding: 12px;
        font-size: 14px;
        letter-spacing: .1em;

        &[data-species-name="Empty"] {
            background-color: hsl(0, 0%, 95%);
        }

        &[data-species-name="Wall"] {
            background-color: hsl(0, 0%, 30%);
            color: white;
        }

        &[data-species-name="Sand"] {
            background-color: hsl(50, 90%, 50%);
        }

        &[data-species-name="Water"] {
            background-color: hsl(225, 90%, 45%);
            color: white;
        }

        &[data-selected="true"] {
            border-color: black;
        }
    }
}

.footer {
    grid-area: footer;
}
