body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    align-items: center;
    justify-items: center;
}

canvas {
    image-rendering: pixelated;
    /* transform-origin: 0 0; */
    scale: 4;
}
